.movie-card-list {
  display: flex;
  flex-direction: column;
}
.movie-card-list-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
}

.movie-card-list__more-button {
  width: 320px;
  height: 36px;
  color: black;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 320px) and (max-width: 425px) {
  .movie-card-list-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
